:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-sans-serif);
}

form {
    width: 70%;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 200px;
    box-shadow: 2px 2px 30px rgba(146, 146, 146, 0.438);
    border-radius: 5px;
}

label {
    text-transform: capitalize;
    margin-right: 5px;
}


.text {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user {
    width: 100%;
    height: 30px;
    margin: 0 10px;
    border-radius: 6px;
    border: 1px solid var(--dark);
}

.user:focus {
    outline: none;
}

textarea {
    width: 100%;
    height: 10rem;
    border-radius: 6px;
}

textarea:focus {
    outline: 0px;
}

button:hover {
    transition: ease 1s;
    box-shadow: 2px 2px 18px rgba(146, 146, 146, 0.438);
}

button {
    background-color: var(--white);
    color: var(--dark);
    padding: 5px;
    border-radius: 8px;
    border: none;
}