:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

#popup-form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    display: none;
}

#popup-form:target {
    display: block;
}

.bg {
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background: rgba(167, 167, 167, 0.226);
    z-index: -1;
    position: fixed;
}

form {
    width: 70%;
    /* height: 100%; */
    margin: 100px auto 50px;
    padding: 20px;
    box-shadow: 2px 2px 30px rgba(163, 163, 163, 0.438);
    border-radius: 8px;
}

label {
    text-transform: capitalize;
    margin-right: 5px;
    font-size: 15px;
}


.text {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
}

.user {
    width: 100%;
    height: 30px;
    /* margin: 0 10px; */
    border-radius: 6px;
    border: 1px solid var(--dark);
    padding: 5px;
}

.user:focus {
    outline: none;
}

.name,
.email {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

textarea {
    width: 100%;
    height: 18rem;
    border-radius: 6px;
    padding: 5px;
}

textarea:focus {
    outline: 0px;
}

button:hover {
    transition: ease 1s;
    box-shadow: 2px 2px 18px rgba(146, 146, 146, 0.438);
}

button {
    background-color: var(--white);
    color: var(--dark);
    padding: 5px;
    border-radius: 8px;
    border: none;
}

.times{
    position: absolute;
    text-decoration: none;
    background: #222324;
    color: white;
    font-size: 1.9rem;
    left: 50%;
    /* text-align: center; */
    line-height: 0;
    border-radius: 50%;
    padding: 11px 5px 9px;
    width: 30px;
    height: 30px;
    margin: auto;
}

@media(max-width: 650px) {
    .text {
        flex-direction: column;
    }

    label {
        display: none;
    }
}