p,
li {
    line-height: 1.7;
    font-size: 16px;
    color: rgb(56, 56, 56);
}

.about-section {
    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    /* padding: 1rem; */
    align-items: center;
    justify-content: space-between;
}

.daniel,
.clients {
    margin-bottom: 45px;
}

.about-bg {
    width: 100%;
    position: relative;
}

.vertical {
    position: absolute;
    background: none;
}

.vertical h2 {
    background: none;
    color: #ffffff62;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 800;
    writing-mode: vertical-rl;
    letter-spacing: 18px;
}

.about-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(30%);
}

.about-text {
    width: 80%;
    padding: 4rem;
}

.about-text h2 {
    font-size: 57px;
    margin-bottom: 20px;
    font-weight: 100;
}



h3 {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 10px;
}

li {
    list-style: none;
}

.clients ul {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.contact {
    margin-top: 50px;
    position: relative;
}

.site-btn {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: rgb(32, 32, 32);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.site-btn:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.site-btn:focus{
    outline: none;
}

#drop-form {
    display: none;
    position: absolute;
    z-index: 1;
}

form {
    margin: 0;
    width: 90%;
}


#drop-form.drop {
    display: block;
}

.container-fluid {
    margin: 90px 0;
}

.container-fluid h3 {
    padding: 0 1.2rem;
    font-weight: 100;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    width: 100%;
    overflow: hidden;
}

.row div img {
    width: 60px;
    background: none;
    filter: grayscale(100%);
    margin: 10px;
}

.col {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

h4 {
    font-size: 22px;
    font-weight: 500;
}

.footer-section {
    background: #212121;
    padding: 19px 40px;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: none;
}

#drop-form{
    margin-top: 20px;
}

.copyright {
    background: none;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    padding: 4px 0;
}

.footer-social-links {
    text-align: right;
}

.footer-social-links a {
    display: inline-block;
    color: #fff;
    font-size: 17px;
    margin-left: 40px;
}




@media(max-width:1550px) {
    .clients ul {
        flex-direction: column;
    }

    .clients li {
        margin-bottom: 6px;
    }
}

@media(max-width:990px) {

    p,
    li {
        font-size: 16px;
    }

    h3 {
        font-size: 25px;
    }

    .about-section {
        flex-direction: column;
    }

    .about-bg {
        height: 30%;
    }

    .about-text {
        width: 100%;
        padding: 0 1.2rem;
    }

    .daniel h2 {
        font-size: 40px;
    }

    .row {
        grid-template-columns: 1fr 1fr;
    }

}

@media(max-width:490px) {
    .about-bg img {
        height: 50%;
    }

    #oni{
        font-size: 16px;
    }
}

@media(max-width:350px) {
    .row {
        display: flex;
        flex-direction: column;
    }
}