.card-container {
  margin: 40px 0;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.container {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  height: 400px;
  text-decoration: none;
  color: #222;
}

.image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 24, 24, 0.87);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.text {
  width: 100%;
  padding: 20px;
  line-height: 1.4;
  color: white;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  background: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

h3{
  padding-top: 22px;
  font-size: 16px;
  font-weight: 500;
}

@media(max-width:990px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 100px 20px 0;
    gap: 20px;
  }

  .container {
    height: 400px;
  }

  .image {
    width: 100%;
    height: 400px;
  }


}

@media(max-width:650px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 100px 20px 0;
  }

  .container {
    height: 340px;
  }

  .image {
    width: 100%;
    height: 340px;
  }


}

@media(max-width:590px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 100px 20px 0;
    gap: 20px;
  }

  .container {
    height: 280px;
  }

  .image {
    width: 100%;
    height: 280px;
  }


}

@media(max-width:480px) {
  .card-container {
    grid-template-columns: 1fr ;
    padding: 20px;
    margin: 100px 20px 0;
    gap: 20px;
  }

  .container {
    position: relative;
    height: 220px;
  }

  .image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 220px;
  }

}

@media(max-width:400px) {
header{
  margin: 10px;
}

  .card-container {
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 70px 0 100px;
    gap: 20px;
  }

  .container {
    height: 280px;
  }

  .image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 280px;
  }

}