* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body,
header {

  background-color: rgb(250, 250, 250);
}

header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 30px;
}

header a {
  padding: 5px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 13px;
  text-transform: capitalize;
  background: none;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#oni {
  font-size: 15px;
  color: rgb(49, 49, 49);
  font-weight: 600;
}

#burger {
  color: rgb(12, 12, 12);
  padding: 16px 14px;
  border: none;
  cursor: pointer;
  background: none;
}

#burger:focus {
  outline: none;
}

.bar1,
.bar2,
.bar3 {
  background: rgb(12, 12, 12);
  width: 20px;
  height: 3px;
  display: block;
  margin: 3px 0;
  position: relative;
  top: 0;
  border-radius: 6px;
  pointer-events: none;
  transition: all ease-in-out 0.4s;
}

#burger-container {
  float: right;
  position: relative;
  /* display: inline-block; */
}

.open .bar2 {
  width: 0;
  opacity: 0;
}

.open .bar1 {
  transform: rotate(45deg);
  top: 5px;
}

.open .bar3 {
  transform: rotate(-45deg);
  top: -7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
  border-radius: 6px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #c0c0c0;
}

.show {
  display: block;
}


/*********************
     footer styling
 *********************/
footer {
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-section {
  width: 100%;
  background: #212121;
  padding: 19px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.footer-text {
  width: 100%;
}

.social-links {
  width: 100%;
  background: none;
  display: inline-block;
  padding: 0 15px;
  text-align: right;
  background-color: transparent;
}

.social-links a i {
  background: none !important;
  color: white;
  margin: 5px;
}

footer div {

  background: none;
}

footer p {
  font-size: 13px;
  background: none;
  text-align: left;
  color: white;
}

.btn {
  /* font-size: 20px;
  color: white; */
}


@media(max-width:512px) {


  .footer-section {
    flex-direction: column-reverse;
  }

  .footer-section div.social-links {
    margin-bottom: 15px;
    text-align: center;
  }

  .footer-text p {
    text-align: center;
  }
}