main {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column {
  width: 100%;
  padding: 0 50px;
  text-align: center;
  display: flex;
  gap: 5px;
  height: 350px;
  overflow: hidden;
}

.column img {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.column img:hover {
  transition: ease 0.5s;
  box-shadow: 2px 3px 19px rgba(156, 156, 156, 0.466);
}

.col2 {
  overflow: hidden;
  width: 100%;
}

footer {
  font-size: 13px;
  text-align: center;
  color: #6c757d;
  margin: 20px;
}

@media(max-width:990px) {
  .column {
    height: 100%;
    flex-wrap: wrap;
  }

  .column img {
    height: 100%;
  }
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 0;
  background: none;
  overflow-x: hidden;
  padding-top: 20px;

}

.sidenav a {
  background: none;
  text-decoration: none;
  display: block;
}

.sidenav a img {
  width: 20px;
  padding: 0;
  margin: 10px;
}

.sidenav a img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

span {
  position: fixed;
  font-size: 1.5rem;
  bottom: 0;
  right: 0;
  margin: 30px 11px;
  color: rgb(52, 58, 64);
  font-weight: 700;
  line-height: 0;
  padding: 13px 9px 19px;
  border-radius: 50%;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}